.steps li {
  width: 210px;
  border-bottom: 1.4px solid #868383;
  font-family: "Nunito";
  font-size: 16px;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.sidebar-item {
  font-family: "Nunito";
  font-size: 15px;
  color: #868383;
  /* width: 45px; */
  /* height: 24px; */
  line-height: 40px;
  text-decoration-line: none;
  outline: none;
}
.sidebar-item:hover {
  text-decoration: none;
  color: black;
}

/* #sidebar {
  background-color: white !important;
  width: 30% !important;
  flex: 0 0 !important;
  max-width: 30% !important;
  min-width: 30% !important;
  margin-left: 40% !important;
} */

.steps {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 172.7px;
  /* margin-left: 224px; */
  list-style-type: none;
}

.active .sidebar-item {
  font-size: 17px;
  color: black;
}

.ant-layout-content {
  background-color: white !important;
  width: 50%;
}

.ant-layout-sider-children{
  padding-top: 0px !important;
}