@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  &:focus {
    outline: none;
  }
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: inherit;
  padding: 0 3rem;
}

header {
  .navbar {
    background-color: #431f85;
    height: 8rem;
    position: fixed;
    right: 0;
    left: 0;

    transition: background-color, box-shadow, 0.2s ease;
    &.white {
      background-color: #fff;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
      .container {
        .navbar-brand {
          color: #000;
        }
        ul {
          li {
            a {
              color: #000;
            }
            .products-drop {
              color: #000;
              .product-dropdown {
                .dropdown-content {
                  background-color: #fff;
                  a {
                    color: black;
                    &:hover {
                      color: #431f85;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar-brand {
        font-size: 2rem;
        color: #fffcfc;
        font-weight: bold;
        display: flex;
        align-items: center;

        img {
          display: inline-block;
          width: 45px;
          margin-right: 2rem;
        }
      }

      ul {
        display: flex;
        margin-bottom: 0;

        li {
          &:not(:first-child) {
            margin-left: 8rem;
          }

          a {
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #fffcfc;
          }

          .products-drop {
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #fffcfc;
            background-color: inherit;
            position: relative;

            .product-dropdown {
              position: absolute;
              top: 0;
              left: -4rem;
              width: 18rem;
              padding: 2rem 0;

              .dropdown-content {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 1px 3px 3px rgba(#000, 0.2);
                cursor: default;
                padding: 0.635rem 0.5rem 0.3125rem 2.5rem;

                a {
                  display: block;
                  color: black;
                  margin: 1rem 0;
                  font-weight: 700;
                  text-align: left;
                  transition: 0.2s ease;
                  text-transform: none;

                  &:hover {
                    color: #431f85;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  padding-top: 8rem;
  .lead {
    .container {
      text-align: center;
      padding: 5rem 0;

      .before-heading {
        font-size: 1.7rem;
        font-weight: 600;
        color: #431f85;
        margin-bottom: 0.8rem;
      }

      .heading {
        font-family: Lora;
        font-size: 3.8rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
      }

      .below-heading {
        font-size: 1.8rem;
        font-weight: 500;
        width: 65%;
        margin: 0 auto;
      }
    }
  }

  .tools {
    background-color: #f9f2fc;

    .container {
      // padding: 2.4rem 2.4rem 5rem;
      padding: 3rem 3rem 11rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .tools-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.8rem;

        .tool-card {
          border-radius: 0.9rem;
          background-color: #fff;
          text-align: center;
          padding: 2.3rem;
          cursor: pointer;

          &:hover {
            .tool-link {
              border-bottom: 1px solid #2462c7;
            }
          }

          .tool-title {
            font-family: Lora;
            font-size: 2rem;
            font-weight: bold;
            color: #3f0458;
            margin-bottom: 1.2rem;
          }

          .tool-msg {
            font-size: 1.5rem;
            margin-bottom: 1.2rem;
          }

          .tool-link {
            font-size: 1.5rem;
            font-weight: 600;
            color: #2462c7;
            border-bottom: 1px solid transparent;
            padding-bottom: 1px;
            transition: border 0.2s ease;
            display: inline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .navbar {
      height: 6rem;

      .container {
        .navbar-brand {
          font-size: 1.2rem;

          img {
            width: 25px;
            margin-right: 1rem;
          }
        }

        ul {
          li {
            &:not(:first-child) {
              margin-left: 2rem;
            }

            a {
              font-size: 1rem;
            }

            .products-drop {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  main {
    .tools {
      .container {
        .tools-container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
