.landing-footer {
  position: relative;
  background-color: #431f85;

  .footer-content {
    padding-top: 8rem;
    padding-bottom: 8rem;

    .footer-section1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      & > div {
        display: flex;
        align-items: center;

        h3 {
          margin-left: 1rem;
          font-weight: 700;
          font-size: 2.2rem;
        }
      }

      & > span {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }

    .footer-section2,
    .footer-section3 {
      ul {
        list-style: none;
        padding-left: 0;

        li {
          a {
            font-size: 1.2rem;
            color: #fff;
            text-decoration: none;
            padding: 0.1rem 0.2rem;
            border-radius: 3px;
            transition: background-color, color, 0.2s ease;

            &:hover {
              background-color: #fff;
              color: #9941f1;
            }
          }
        }
      }
    }

    .footer-section4 {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 1rem;
    }

    .footer-section5 {
      ul {
        list-style: none;
        display: flex;
        padding-left: 0;

        li {
          margin: 0 1rem 0 0;

          a {
            color: #fff;
            font-size: 1.92rem;
            padding: 0.1rem 0.2rem;
            border-radius: 3px;
            transition: background-color, color, 0.2s ease;

            &:hover {
              background-color: #fff;
              color: #9941f1;
            }
          }
        }
      }
    }
  }
}
